body {
	background-color: rgb(5, 37, 5);
	text-align: center;
	color: rgb(255, 255, 255);
	text-decoration: none;
}

ul {
	list-style-type: none;
}

a {
	text-emphasis: none;
	text-decoration: none;
}

.logout {
	float: right;
}
